*{
    margin: 0;
    box-sizing: border-box;
}

:root{
   
    --Red:#F32424;
    --Grey:#F2F2F2;
    --Black:#0C0C0C;

}
body{
    background-image: linear-gradient(to left top, #e5f1ca, #e9f4d1, #eef8d7, #f2fbde, #f7ffe5);
    height: 100vh;
    

}
.container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(25, 1fr);
    width: 80vw; /* Ajusta este valor según necesites */
    height: 80vw; /* Mantiene el contenedor cuadrado */
    max-width: 500px; /* Establece un máximo si es necesario para evitar que sea demasiado grande */
    max-height: 500px; /* Igual que el max-width para mantener la proporción */
    margin: auto; /* Centra el contenedor en la pantalla */
}

.item-1{
    background: var(--Red);
    grid-column: 7 / 9;
    grid-row: 4 / 5;
}
.item-2{
    background: var(--Red);
    grid-column: 12 / 14;
    grid-row: 4 / 5;
}
.item-3{
    background: var(--Red);
    grid-column: 6 / 10;
    grid-row: 5 / 6;
}
.item-4{
    background: var(--Red);
    grid-column: 11 / 15;
    grid-row: 5 / 6;
}
.item-5{
    background: var(--Red);
    grid-column: 6 / 15;
    grid-row: 6 / 10;
}
.item-6{
    background:var(--Red);
    grid-column: 7 / 14;
    grid-row: 10 / 11;
}
.item-7{
    background:var(--Red);
    grid-column: 8 / 13;
    grid-row: 11 / 12;
}
.item-8{
    background:var(--Red);
    grid-column: 9 / 12;
    grid-row: 12 / 13;
}
.item-9{
    background:var(--Red);
    grid-column: 10 / 11;
    grid-row: 13 / 14;
}
.item-10{
    background:black;
    grid-column: 10 / 11;
    grid-row: 14/ 15;
}
.item-11{
    background:black;
    grid-column: 9 / 10;
    grid-row: 13/ 14;
}
.item-12{
    background:black;
    grid-column: 8 / 9;
    grid-row: 12/ 13;
}
.item-13{
    background:black;
    grid-column: 7 / 8;
    grid-row: 11/ 12;
}
.item-14{
    background:black;
    grid-column: 6 / 7;
    grid-row: 10/ 11;
}
.item-15{
    background:black;
    grid-column: 5 / 6;
    grid-row: 5/ 10;
}
.item-16{
    background:black;
    grid-column: 6 / 7;
    grid-row: 4/ 5;
}
.item-17{
    background:black;
    grid-column: 7 / 9;
    grid-row: 3 / 4;
    
}
.item-18{
    background:black;
    grid-column: 9 / 10;
    grid-row: 4 / 5;
    
}
.item-19{
    background:black;
    grid-column: 10 / 11;
    grid-row: 5 / 6;
    
}
.item-20{
    background:black;
    grid-column: 11 / 12;
    grid-row: 4 / 5;
    
}
.item-21{
    background:black;
    grid-column: 12 / 14;
    grid-row: 3 / 4;
    
}
.item-22{
    background:black;
    grid-column: 14 / 15;
    grid-row: 4 / 5;
    
}
.item-23{
    background:black;
    grid-column: 15 / 16;
    grid-row: 5 / 10;
    
}
.item-24{
    background:black;
    grid-column: 14 / 15;
    grid-row: 10 / 11;
    
}
.item-25{
    background:black;
    grid-column: 13 / 14;
    grid-row: 11 / 12;
    
}
.item-26{
    background:black;
    grid-column: 12 / 13;
    grid-row: 12 / 13;
    
}
.item-27{
    background:black;
    grid-column: 11 / 12;
    grid-row: 13 / 14;
    
}
.item-28{
    display: grid;
    grid-column: 1 / 20;
    grid-row: 16/ 18; 
    place-items: center;
    font-family: 'Roboto';
    
}
.item-29 {
    display: grid;
    grid-column: 1 / 21; 
    grid-row: 19 / 26; 
    
    
}

.item-29 img {
    max-width: 100%; /* Asegura que la imagen se ajuste al ancho de la celda */
    max-height: 100%; /* Asegura que la imagen se ajuste a la altura de la celda, opcional */
    height: auto; /* Mantiene la proporción de la imagen */
}




@media (max-width: 768px) {
    .container {
        width: 90vw;
        height: 90vw;
        max-width: 400px;
        max-height: 400px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95vw;
        height: 95vw;
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 390px) {
    .item-28 {

        font-size: 14px;
    }
}
@media (max-width: 490px) {
    .item-28 {

        font-size: 14px;
    }
}
